<div class="wrapper head-border">
  <div class="container">
    <div class="row">
      <div class="col-sm-1">
        <img class="img-responsive logo" src="./assets/images_header/logo.jpg">
      </div>
      <div class="col-sm-11" style="padding-left:20px">
        <div>
          <form role="search" method="get" class="search-form fr clearfix" style="float:right; padding-top:10px; border-bottom:double; margin-bottom:0 !important">
            <input type="text" placeholder="Tìm kiếm ..." class="search-key" style="width:250px; height:25px;border:none;; padding:5px">
            <input type="submit" class="search-submit" value="">
          </form>
        </div>
        <div>
          <nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-top:33px;">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Dropdown
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" href="#">Disabled</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>

    </div>
    <!-- <nav class="navbar navbar-default" style="background:white; border:none; margin:0px">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" style="padding:0px" href="#">
            <img class="img-responsive logo" src="./assets/images_header/logo.jpg">
          </a>
        </div>
        <div class="search-home">
          <form role="search" method="get" class="search-form fr clearfix" style="float:right; padding-top:10px; border-bottom:double; margin-bottom:0 !important">
            <input type="text" placeholder="Tìm kiếm ..." class="search-key" style="width:250px; height:25px;border:none;; padding:5px">
            <input type="submit" class="search-submit" value="">
          </form>
        </div>
        <div>
          <ul class="nav navbar-nav main-menu">
            <li><a href="#" style="color:black">SẢN PHẨM</a></li>
          </ul>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"
              style="color:black">MUA XE <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">BẢNG GIÁ XE</a></li>
              <li><a href="#">ĐĂNG KÝ LÁI THỬ</a></li>
            </ul>
          </li>
        </div>
      </div>
    </nav> -->
  </div>
</div>