<div class="wrapper">
    <div class="footer">
        <div class="container" style="padding:30px">
            <div class="row content">
                <div class="col-sm-4">
                    <h3>CORPARATE</h3>
                    <p>About us</p>
                    <p>Ceo message</p>
                    <p>Careers</p>
                </div>
                <div class="col-sm-4">
                    <h3>CONTACT US</h3>
                    <p>congdat.trinh@tanchonggroup.com</p>
                </div>
                <div class="col-sm-4">
                    <h3>NEWS</h3>
                    <p>Nissan Buy & Win Contest 2017</p>
                </div>
            </div>
        </div>
    </div>
</div>