<div>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Live</th>
        <th>Dead</th>
        <th>Latest</th>
        <th>Oldest</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let group of groups; let i = index">
        <td>{{i+1}}</td>
        <td>{{group.name}}</td>
        <td>{{group.live}}</td>
        <td>{{group.dead}}</td>
        <td>{{group.latest}}</td>
        <td>{{group.oldest}}</td>
        <td>
          <button type="button" style="margin-left:30px" class="btn btn-success" (click)="editUser(user,i)">Edit</button>
          <button type="button" style="margin-left:20px" class="btn btn-danger">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div>
  <form #ngForm="ngForm">
    <div>
      <label>Name</label>
      <input type="text" name="name" id="name" [(ngModel)]="user.name">
    </div>
    <div>
      <label>Live</label>
      <input type="text" name="live" id="live" [(ngModel)]="user.live">
    </div>
    <div>
      <label>Dead</label>
      <input type="text" name="dead" id="dead" [(ngModel)]="user.dead">
    </div>
    <div>
      <label>Latest</label>
      <input type="text" name="latest" id="latest" [(ngModel)]="user.latest">
    </div>
    <div>
      <label>Oldest</label>
      <input type="text" name="oldest" id="oldest" [(ngModel)]="group.oldest">
    </div>
    <button (click)="btn('update')">Update</button>
  </form>
</div>